<div class="container-fluid mt-5">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-6 d-flex justify-content-center flex-column p-5">
        <h1 class="display-4 text-dark">Welcome To Employee Portal</h1>
        <p class="lead text-muted">Your one-stop solution for managing employee data seamlessly.</p>
        <button class="btn btn-dark btn-lg mt-4" routerLink="/register">Get Started</button>
      </div>
      <div class="col-lg-6 p-5 d-flex align-items-center justify-content-center">
        <img src="https://img.freepik.com/premium-vector/poster-people-with-word-financial-it_1187092-27241.jpg?w=1060" alt="Employee Portal Image" class="img-fluid rounded">
      </div>
    </div>
  </div>
  